#spellMaker > h2 {
    text-align: center;
}

#spellFile {
    margin: 3vw;
    float: right;
    width: 35%;
}

#newSpellForm {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
