<div class="col-sm-3">
    <h3 class="title">Penny's game</h3>
</div>
<div class="col-sm-9">
    <form>
    </form>
</div>
<div style="margin-bottom: 7vw"></div>
<script type="text/javascript" src="/static/game/penny.js"></script>