<div class="row">
    <div class="col-sm-10">
        <h3>Penny's game</h3>
        <p>Walter Penny card game to choose starting player.</p>
        <form>
        </form>
    </div>
</div>
<div style="margin-bottom: 7vw"></div>
