{% extends "partals/base.jinja2" %}
{% block title %}Admin Stuff{% endblock %}
{% block content %}
<h1 class="title">Admin Stuff</h1>
<div class="container">
<div class="row">
    <div class="col-sm-3">
        <h3>Admin Panel</h3>
        <p>shady shit</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link disable" href="/admin/players"><button class="btn btn-primary">Players</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disable" href="/admin/spells"><button class="btn btn-primary">Spells</button></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-7">
        <h3>Add something here later</h3>
    </div>
    <div class="col-sm-2">
        <h3>All Players:</h3>
        <div class="playersContainer">
{% for player in db.p.find() %}
            <div>
                <h5>{{ player['nick'] }}</h5>
                <h6>Password hash:</h6><p>{{ player['pwd'] }}</p>
            </div>
{% endfor %}
        </div>
    </div>
</div>
</div>
<div style="margin-bottom: 7vw"></div>
{% endblock %}
