{% extends "partals/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block addhead %}
    <link rel="stylesheet" href="/static/game/play.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>var mode = "{{ mode }}";</script>
{% endblock %}
{% block content %}
{% if player %}
<div class="container">
<div class="row" id="gameRow">
    <div class="col-sm-10">
        <h3 class="title">Penny's game loading...</h3>
    </div>
</div>
<div style="margin-bottom: 7vw"></div>
</div>
<div class="row"><div class="col-sm-10" id="back"><a href="/game"><button class="btn btn-primary">Back</button></a></div></div>
{% else %}
{% include "partals/login.jinja2" %}
{% endif %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/game/qPlay.js"></script>
{% endblock %}
