{% extends "partals/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block addhead %}
    <style>
#back {
    margin: 3vw;
    align-content: right;
}
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}
{% block content %}
{% if player %}
<div class="container">
<div class="row" id="gameRow">
    <div class="col-sm-10">
        <h3 class="title">Penny's game loading...</h3>
    </div>
</div>
<div style="margin-bottom: 7vw"></div>
</div>
<div class="row"><div class="col-sm-10" id="back"><a href="/game"><button class="btn btn-primary">Back</button></a></div></div>
{% else %}
{% include "partals/login.jinja2" %}
{% endif %}
{% endblock %}
{% block script %}
<script>
var mode = "{{ mode }}";
if (mode === "ai") {
	$.ajax({
        url: "/game/WalterPenny",
        type: "get"
	}).done(function(resp) { $("#gameRow").html(resp); });
}
else if (mode === "pvp")
    $('#title').html("PvP quick play not implemented yet.");
else
    $('#title').html("Not accepted quick play mode!");

</script>
{% endblock %}
