<h1>Kuofee</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Kuofee</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Link</a>
        </li>
        <li class="nav-item">
            {% if player %}
            <a class="nav-link" href="/player">Player</a>
            {% else %}
            <a class="nav-link disabled" href="/player">Player</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if player['admin'] %}
            <a class="nav-link" href="/admin">Admin stuffs</a>
            {% endif %}
        </li>
    </div>
</nav>