<div class="container" style="max-width: 100%;">
<div class="row" style="margin: 10vw;">
    <div class="col-sm" style="text-align: center;">
        <h1><a href="/login" class="nav-link active">Login</a></h1>
    </div>
</div>
</div>