<!DOCTYPE html>
<html>
<head>
    {% include "partals/head.jinja2" %}
</head>
<body>
{% include "partals/header.jinja2" %}
<center>
    <h1>Error 404</h1>
    <p>{{ err }}</p>
</center>
{% include "partals/footer.jinja2" %}
</body>
</html>
