{% extends "partals/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if player %}
<h1 class="title">Logged in as {{ player['nick'] }}!</h1>
<div style="margin-bottom: 10vw"></div>
{% else %}
{% include "partals/login.jinja2" %}
{% endif %}
{% endblock %}
