{% extends "partals/base.jinja2" %}
{% block title %}Register{% endblock %}
{% block addhead %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}
{% block content %}
{% if player %}
<div style="margin: 4vw">
    <h1 class="title">Logged in as {{ player['nick'] }}!</h1>
    <a href="/logout"><button style="margin: 4vw" class="btn btn-primary">Logout?</button></a>
</div>
{% else %}
<div style="text-align: center;">
    <h3 id="title" class="title">Register</h3>
</div>
<form id="registerForm" enctype="application/json" style="margin-top: 2vw; text-align: center;">
    <div class="form-group">
        <label for="nick">
        <input name="nick" id="nick" placeholder="Nickname" type="username" class="form-control">
    </div>
    <div>
        <label for="pwd">
        <input name="pwd" id="pwd" placeholder="Password" type="password" class="form-control">
    </div>
    <div>
        <label for="pwd1">
        <input name="pwd1" id="pwd1" placeholder="Password again" type="password" class="form-control">
    </div>
    <div style="margin: 1vw;">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
<script type="text/javascript" src="/static/register.js"></script>
{% endif %}
{% endblock %}
