{% extends "partals/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
<div class="row">
        <h1 class="title">About</h1>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Walter Penny card game to choose starting player.</h3>
        <p>
            Very easy, choose three cards that are either black or red.<br>
            Then pull random cards out of a deck until the three last<br>
            cards follows the same sequence as one of the players's,<br>
            that player wins and gets to choose who starts.
        </p>
    </div>
    <div class="col-sm-6">
        <h3>Todo:</h3>
        <p>Maybe add dice game alternative to Walter Penny</p>
    </div>
</div>
<div style="margin-bottom: 7vw"></div>
</div>
{% endblock %}
