{% extends "partals/base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
<div class="row">
{% if player['admin'] %}
    <h1 class="title">Admin {{player['nick']}}</h1>
{% else %}
    <h1 class="title">Spellcaster {{player['nick']}}</h1>
{% endif %}
</div>
<div class="row">
    <div class="col-sm-3">
        <h3></h3>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-3">
        <h3>Stats</h3>
    </div>
</div>
<div style="margin-bottom: 7vw"></div>
</div>
{% endblock %}
