body {
    background-color: #333;
    color: #22AF22;
}
#container {
    overflow: hidden;
    max-width: 95%
}
#content {
    overflow: hidden;
}
.title {
    margin: 2vw;
}
form > small {
    margin-right: 2vw;
    font-size: 65%;
}
form > div button {
    float: right;
}
